<div class="modal-body">
	<form enctype="multipart/form-data" method="post" class ="wall-lg" method="post" {% block action %} {% endblock %}>
		<div class ="form-group" >
			{% for field in form.visible_fields %}

			<span>
				{{field.label_tag}}
				{{field}}

				<h4 class="text-danger" style="color: red">{{field.errors}}</h4>
			</span>
			{% endfor %}
			{% for field in form.hidden_fields %}
			<h4 class="text-danger">
				{{field}}
			</h4>
			{% endfor %}
			{% csrf_token %}
		</div>
		{% if view == "edit_profile" %}
		<input class="btn btn-primary" type="submit" value="Update" />
		{% else %}
		<input class="btn btn-primary" type="submit" value="Register" />
		{% endif %}
	</form>
</div>